/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.streetviews {
  display: flex;
  flex-direction: column;
}

.maps {
  display: flex;
}

.pano {
  border: 1px solid #333;
  width: 50%;
  height: 100vh;
}
